.footer {
    grid-area: 'footer';
    display: flex;
    flex-flow: row wrap;
    background-color: var(--very-dark-blue);
    padding: 112px 61px;
}

.footer .contact p {
    width: 217px;
}

.footer .contact p:nth-child(2n) {
    margin: 16px 0 16px 0;
}

.footer .contact p:nth-child(2n)::before, .footer .contact p:last-child::before {
    content: '';
    display: inline-block;
    position: relative;
    margin-right: 16px;
    width: 22px;
    height: 16px;
}

.footer .contact p:nth-child(2n)::before {
    background: url(/src/img/icon-phone.svg) no-repeat center center;
}

.footer .contact p:last-child::before {
    background: url(/src/img/icon-email.svg) no-repeat center center;
}

.footer nav {
    display: flex;
    flex-flow: row nowrap;
    margin: 70px 0 0 20%;
    max-width: 100px;
    width: 100%;
    padding-right: 30%;
}

.footer nav ul {
    max-width: 100px;
    width: 100%;
    margin-right: 130px;
}

.footer nav ul:first-child {
    margin-right: 50px;
}

.footer nav ul li {
    margin-bottom: 15px;
    width: 160%;
}

.footer,.footer ul li a,
.footer .social-medias .social-media {
    color: var(--light-gray);
}

.footer .social-medias {
    
    display: flex;
    flex-flow: row nowrap;
    max-width: 120px;
    width: 100%;
    height: 35px;
    margin-top: 70px;
}

.footer .social-medias .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--white) solid 1px;
    border-radius: 100%;
    font-size: 15px;
    height: 13px;
    width: 13px;
    padding: 8px;
    margin-right: 12px;
}

.footer .social-medias .social-media:hover {
    border-color: var(--bright-blue);
}

.footer .social-medias .social-media:hover, .footer nav ul li a:hover {
    color: var(--bright-blue);
    transition: 0.2s ease-in-out;
}

@media (max-width: 750px) {
    .footer nav {
      position: relative;
      right: 19%;  
    }
}

@media (max-width: 580px) {
    .footer nav {
        position: static;
        padding-left: 5px;
        margin: 0;
        flex-flow: column wrap;
    }
}

@media (max-width: 375px) {
    .footer {
        padding-left: 35px;
    }

    .footer nav {
        margin-top: 50px;
    }

    .footer nav ul:first-child {
        margin-bottom: 50px;
    }

    .footer .social-medias {
        position: relative;
        bottom: 5px;
        margin-left: 80px;
    }
}
