.footer {
    grid-area: 'footer';
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--very-dark-blue);
    padding: 112px 61px;
}

.footer,.footer ul li a {
    color: var(--white);
}

.social-medias {
    background-color: rgb(0, 235, 235);
}