.pannel-1 {
    grid-area: 'pannel-1';
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    padding: 5% 4%;
}

.pannel-1 img {
    max-width: 600px;
    width: 110%;
}

.pannel-1 div {
    margin-top: 60px;
}

.pannel-1 div h2 {
    font-size: 250%;
    font-family: var(--header-font);
    font-weight: var(--bold-font-weight);
    max-width: 670px;
    width: 100%;
    line-height: 60px;
}

.pannel-1 div p {
    font-weight: var(--main-font-weight);
    font-size: 112.5%;
    width: 100%;
    padding: 20px 0;
}

.pannel-1 div h2, .pannel-1 div p {
    color: var(--very-dark-blue);
}

.pannel-1 label input:first-child {
    max-width: 280px;
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid rgb(78, 73, 73);
    font-size: 93.75%;
}

.pannel-1 label input:first-child::placeholder
 {
    padding-left: 2%;
    color: var(--light-gray);
}

.pannel-1 label input:last-child {
    border: none;
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    margin-left: 10px;
    padding: 13px 60px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #736fb1;
}

.pannel-1 label input:last-child:hover {
    cursor: pointer;
}

.pannel-1 label input:first-child::placeholder,
.pannel-1 label input:last-child {
    font-weight: var(--header-bold-font-weight);
    font-style: var(--header-font);
    font-size: 81.25%;
}