.register {
    grid-area: 'register';
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 209px;
    margin: 0 auto;
    padding: 85px 50px 80px 50px;
    background-color: var(--desaturated-blue);
}

.register div h2 {
    font-size: 30px;
    color: var(--white);
    font-weight: var(--bold-font-weight);
    padding-bottom: 14px;
}

.register div p {
    font-size: 16px;
    max-width: 481px;
    width: 100%;
    color: var(--light-gray);
}

.register label {
    display: flex;
    flex-flow: column wrap;
    margin-top: 15px;
}

#footer-email {
    width: 83.5%;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid rgb(219, 217, 217);
    font-size: 93.75%;
}

#footer-email::placeholder {
    color: var(--light-gray);
    font-size: 13px;
    position: relative;
    left: 5px;
}

.register label input:last-child {
    margin-top: 14px;
    border: none;
    padding: 15px 25px;
    width: 100%;
    max-width: 178.89px;
    border-radius: 3px;
    background-color: var(--bright-blue);
    color: var(--white);
    cursor: pointer;
    box-shadow: 1px 1px 5px #443e95;
}

.register label input:last-child:active {
    background-color: var(--light-blue);
}


@media (max-width: 760px) {
    .register {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .register {
        display: flex;
        flex-flow: column nowrap;
    }

    #footer-email {
        width: 92%;
        margin: 0 auto;
        max-width: 319px;
    }

    .register label input:last-child {
        max-width: 343px;
        margin: 10px auto 0 auto;
    }
}

@media (max-width: 375px) {
    .register div h2 {
        font-size: 131.25%;
    }
    .register div p {
        font-size: 90.62%;
    }

    #footer-email {
        margin: 8px auto 0 auto;
        padding: 10px;
    }
}